<h1>Kayıt Ol</h1>
<form action="/auth/register" method="POST">
  <input name="username" placeholder="Kullanıcı Adı">
  <input name="email" placeholder="Email">
  <input name="password" type="password" placeholder="Şifre">
  <button>Kayıt</button>
</form>
